body, html {
  margin: 0; 
  font-size: 1.5vw; }

header {
  width: 100%;
  background-color: #000000;
  color: white; 
  font-weight: bold;
  border-bottom: 2px solid red;
}
  
#header-top {
  background-color: #1D202B;
  width: 100%;
  height: 3vw;
  display: flex;
  align-items: center;
}

#header-top-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#header-bottom {
  width: 90%;
  margin: 0 auto;
  height: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cartBtn {
  font-size: 2vw;
  cursor: pointer;
  background-color: lightpink;
  border-radius: 10px;
}

nav {
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  border-bottom: .5px solid grey;
} 
  a {
    color: #000000;
    align-self: center;
    text-decoration: none;
  }

/*CART BOX*/

#cart-content {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
/*   margin: 0 auto; */
  top: 12vw;
  width: 90%;
  /*height: 50%; Full height */
  /*overflow: auto;  Enable scroll if needed */
  background-color: lightpink; /* Fallback color */
  border-radius: 15px;
  padding: 0 1vw;
  flex-wrap: wrap;
}

#closeButton {
  cursor: pointer;
  font-size: 3vw;
  width: 100%;
  align-self: center;
  text-align: right;
  margin-top: 0.2vw;
}

.cartBox {
  background-color: lightblue;
  width: 15vw;
  border-radius: 15px;
  text-align: center;
  padding: 1vw;
  margin: 2px;
}

.cartBox > img {
  width: 95%;
}

.rmvButton {
  font-size: 2vw;
  color: red;
  padding: 0;
}

#totalPrice {
  width: 100%;
  margin-top: 2vw;
  margin-left: 1px;
  margin-bottom: 2vw
}
/* ---------- MAIN SECTION --------- */

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;}

.top_box {
  width: 30%;
  margin: 2vw 0;
}

.new_products {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2vw;
}

.new_products > span {
  margin-left: 2vw; 
  margin-top: 3vw;
  font-weight: bold;
}

#header {
  flex-grow: 2; /* it makes one of the items twice the sice as the other one*/
  margin-left: 0;
}

#shop {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  margin-bottom: 2vw
}

.gadgetBox {
  width: 22%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 5px grey, -1px -1px 5px grey;
  cursor: pointer;
}

.gadgetBox > img, p, div {
  width: 90%;
}

.gadgetBox > .product {
  height: 4vw;
}

.gadgetBox > p {
  width: 90%;
}


/* --------- FOOTER SECTION ---------- */

footer {
  height: 10vw;
  background-image: url('../img/footer.jpeg');
}

